.modal {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 1000;
    background-color: white;

    padding: 32px;
    border-radius: 16px;

    box-shadow: 0px 24px 48px -12px #1018282E;

    width: 450px !important;
    max-width: 100%;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
}

.modalHeader {
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
    margin-bottom: 32px;
}

.modalTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.04px;
    letter-spacing: -0.02em;
    text-align: left;
}

.modalClose {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.modalBody {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        margin: 0 0 20px 0;
    }

    label {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    input {
        height: 17px;
        padding: 16px;
        border: 1px solid #D7DDE9;
        border-radius: 8px;

        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        text-align: left;

        text-decoration: none;
        outline: none;
    }
}

.modalFooter {
    display: flex;
    gap: 16px;
}

.modalButton {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;

    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;

    &--primary {
        background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
        color: white;
    }

    &--secondary {
        background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
        color: white;
    }

    &--cancel {
        background-color: #E7EEFB;
    }
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}