.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 56px 40px 56px;

    border-bottom: 1px solid #D7DDE9;
    padding: 24px 0;
}

.welcomeMessage {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.dataYear {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 800px) {
    .welcomeMessage {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .header {
        margin: 0 24px 24px 24px;
    }

    .welcomeMessage {
        font-size: 16px;
    }
}