@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0070f3;
    --background-color: #f0f0f0;
    --text-color: #333;
}

body {
    font-family: "Inter Tight", system-ui;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}